Source: pixel-imlib2
Section: unknown
Priority: extra
Maintainer: Cyan Ogilvie <cyan.ogilvie@gmail.com>
Build-Depends: debhelper (>= 5), autoconf, pixel-core (>= 3.1.0), autotools-dev, tcl8.4-dev, fakeroot, liblocale-gettext-perl, libimlib2-dev
Standards-Version: 3.7.2

Package: pixel-imlib2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tcl8.4, pixel-core (>= 3.1.0), libimlib2
Description: Imlib2 wrapper for the Pixel framework
 Pixel is a Tcl extension that provides low level raster graphics functions,
 and through the use of helper modules allows loading and saving a large
 number of image formats, rendering True Type fonts, applying graphics filters
 and displaying to various targets, like SDL, Tk images, and so forth
 .
 This package implements a wrapper around the Imlib2 graphics library that
 allows loading and saving a large number of image formats, and very fast and
 high quality rescaling of pmaps.
